@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #0f0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #000;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2,
span {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: #0bc;
  text-decoration: none;
}

.resume {
  color: #0f0;
  text-decoration: none;
}

li {
  font-size: 115%;
}

p {
  margin: 20px 0;
}

nav {
  background-color: black;

}

nav ul {
  display: flex;
  justify-content: space-around; /* Center the navigation items */
  align-items: center;
  flex-wrap: wrap; /* Allow navigation items to wrap to a new line on small screens */
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
  white-space: nowrap; /* Prevent navigation items from wrapping to a new line */
  margin: 2px; /* Add some spacing between the navigation items */
  font-size: 20px;
  justify-content: space-around;
}
 

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px; /* Add padding to create space between content and screen edges */
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-picture {
  max-width: 150px; /* Reduce the maximum width for small screens */
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 50px; /* Reduce the margin for small screens */
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* Adjust the value as needed for scrolling speed */
  }
}

.main-content {
  animation: scroll 30s linear forwards; /* Adjust the duration (30s) as needed */
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminal {
  left: 50%;
  top: 50%;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  height: 70px;
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
}

.dollar:before {
  content: '$';
  color: #52a563;
}

/* Media Queries for Responsiveness */

/* Small screens */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px; /* Reduce the font size for headings */
  }

  nav ul {
    justify-content: space-around; /* Distribute navigation items evenly on small screens */
  }
  nav ul li {
    font-size: 10px; /* Further reduce the font size for smaller screens */
  }

  .profile-picture {
    max-width: 100px; /* Reduce the maximum width of the image */
    margin: 5px; /* Adjust the margin for smaller screens */
    margin-top: 30px; /* Adjust the margin-top for smaller screens */
  }

  .terminal {
    font-size: 14px; /* Reduce the font size for the terminal text */
  }
  .project-card {
    flex-direction: column;
  }
  .project-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 42px;
  }

  nav ul {
    justify-content: space-around; /* Distribute navigation items evenly on small screens */
  }
  nav ul li {
    font-size: 18px; /* Further reduce the font size for smaller screens */
  }
  .profile-picture {
    max-width: 100px; /* Reduce the maximum width of the image */
    margin: 5px; /* Adjust the margin for smaller screens */
    margin-top: 30px; /* Adjust the margin-top for smaller screens */
  }

  .terminal {
    font-size: 14px; /* Reduce the font size for the terminal text */
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
 

  .terminal {
    font-size: 20px;
  }
 

}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: 50px auto;
}
.tech-stack-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: 150px;
  width: 30%;
}
.tech-icon {
  font-size: 36px;
  margin-bottom: 10px;
}
.tech-name {
  font-size: 14px;
  font-weight: bold;
}


.folder-container {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

body.disable-scroll {
  overflow: hidden;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  align-items: center;
  width: 100%;
}
.project-icon {
  background-color: #007BFF;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  margin-right: 20px;
}
.project-details {
  flex: 1;
  width: 100%;
}
.project-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.project-description {
  font-size: 16px;
  color: #333;
  width: 100%;
}
.project-link {
  color: #007BFF;
  text-decoration: none;
}

/* Add custom colors to the icons */
.programming-languages { color: #007bff; } /* Blue */
.web-dev { color: #28a745; } /* Green */
.cloud-platforms { color: #ffc107; } /* Yellow */
.containerization { color: #17a2b8; } /* Cyan */
.orchestration { color: #6610f2; } /* Purple */
.databases { color: #dc3545; } /* Red */
.apis { color: #fd7e14; } /* Orange */
.devops { color: #20c997; } /* Teal */
.version-control { color: #6c757d; } /* Gray */
.automation { color: #e83e8c; } /* Pink */
.data-engineering { color: #6f42c1; } /* Indigo */
.machine-learning { color: #fd7e14; } /* Orange */
.cyber-security { color: #17a2b8; } /* Cyan */
.others { color: #007bff; } /* Blue */